body {
    margin: 0;
    font: 20px sans-serif;
}

header {
    background-color: #333;
    color: lightsalmon;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 25px;
}

.intro {
    text-align: center;
    margin: 50px auto;
}

.base {
    background-color: #333;
}

.columns {
    justify-content: center;
    display: flex;
}

.column {
    color: lightsalmon;
    width: 400px;
    padding: 25px;
    text-align: center;
}
