p {
    color: #333333;
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

h1 {
    text-align: center;
    color:#333333;
}

a {
    display: block;
    text-align: center;
    color: #333333;
}

.lang_desc {
    color: #39454d
}

.code_img {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}
