/*
dark primary color: #1976D2
primary color: #2196F3
accent color: #FF4081
light primary color: #BBDEFB
text color: #FFFFFF
*/

body {
    margin: 0;
    font: 20px sans-serif;
}

.panels {
    background: url(../img/code.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: #1976D2;
    padding: 15px 10px;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: #BBDEFB;
}

footer a:hover {
    color: #FFFFFF;
}

header {
    background-color: #333;
    background-color: #1976D2;
    text-align: center;
}

header h1 {
    color: #FFFFFF;
    padding: 85px 0 40px;
    margin: 0;
}

nav {
    background-color: #2196F3;
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    box-shadow: 0 1px 20px black;
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    float: left;
}

nav img {
    height: 35px;
    float: left;
    margin: 6px 0 0 7px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #2196F3;
}

nav li, nav a {
    display: inline-block;
    padding: 0 5px;
}

nav a:hover {
    color: #212121;
    padding-bottom: 5px;
    box-shadow: 0 4px 2px -2px #FFFFFF;
}

h1, h2, h3 {
    color: #212121;
    text-align: center;
}

main p{
    color: #757575;
    text-align: center;
}

.intro {
    text-align: center;
    margin: 50px auto;
}

.intro img {
    margin: 25px 0 0;
}

.base {
    background-color: #2196F3;
}

.columns {
    justify-content: center;
    display: flex;
}

.column {
    width: 400px;
    margin: 25px;
    text-align: center;
}

.column p {
    color: #BBDEFB;
}

.column h3 {
    color: #FFFFFF;
}

.project {
    margin: 150px 0 0;
    padding: 25px;
    background-color: #2196F3;
    height: 550px;
    box-shadow: 0 5px 10px black;
}

#project-top {
    margin: 0;
}

.project h2, h3, h4 {
    color: #FFFFFF;
}

.project p {
    color: #BBDEFB;
}

.project a {
    text-decoration: none;
    color: #BBDEFB;
}

.project a:hover {
    color: #FFFFFF;
}

.project img {
    display: block;
    height: 300px;
    margin: 10px auto;
}

.project-flex {
    justify-content: center;
    display: flex;
}

.project-flex-content {
    margin: 3px;
    text-align: center;
}
